<div id="presentacion" style="width:300px;margin:20px 15px 14px 30px; color: #508771;" >
	<B>BIENVENIDOS </B>
</div>


<div id="presentacion" style="width:300px;margin:10px 15px 14px 30px; " >
 Somos una Empresa comercializadora de planes de
 negocios, que te permitirán vender tus planes a
 mejores precios del mercado y adquirir modelos
 de negocio e incrementar tus ventas.
</div>
<br><br>
<div id="presentacion" style="width:300px;margin:10px 15px 14px 30px; color: #815AB3;" >
	<B> ELIGE TU PLAN</B>
</div>

<div id="presentacion" style="width:300px;margin:10px 15px 14px 30px; background-color: #AC88D9;color:#441D74;text-align: left;" >
 <ul>
 	<li>Plan Restaurants</li>
	<li>Comida rápida</li>
	<li>En Hoteles</li>
	<li>En Aeropuertos</li>
</ul>
 </div>
