
<% if current_user.role == 'SABIO'%>
<h1>Bienvenido<h2>
	<p>SABIO</p>
<% end%>

<% if current_user.role == 'EMPRENDEDOR'%>
<h1>Bienvenido<h2>
	<p>EMPRENDEDOR</p>
<% end%>

<% if current_user.role == 'ADMINISTRADOR'%>
<h1>Bienvenido<h2>
	<p>ADMINISTRADOR</p>
<% end%>
